@charset "utf-8";
html,
body {
    background-color: #fff;
}

/*title*/
.mui-icon-back:before, .mui-icon-left-nav:before{
    color: #fff;
}

.mui-bar .mui-title{
    color: #fff;
}

.icon-jiantou:before,
.icon-zhongzhi01:before{
    position: absolute;
    right: 15px;
    z-index: 20;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
}


/*form*/

.icon-zhongyaobiaoji:after{
    font-size: 10px;
}
.icon-jiantou:before{
    color: #fff;
}

.form .active{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form .pwd{
    height: 70px;
    margin-top: 20px;    
}

.form div .text{
    text-align: center;
    color: red;
    padding: 5px;
    font-size: 12px;
    display: none;
}

.form div p {
    margin: 0;
}

.form div input{
    font-size: 14px;

}

.form .btn{
    margin-top: 20px;
}

.form .btn div{
    position: relative;
    padding: 0 5px;
    margin: 0;
}
.form .btn div input{
    padding-right: 30px;
}
