@charset "utf-8";


.mui-inner-wrap .mui-content{
    background-color: #fff;
}

.navigate-right:before{
    font-family: 'Muiicons';
    font-size: 0.8rem;
    line-height: 1;
    position: absolute;
    top: 50%;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    color: #ccc;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 50%;
    right: 1rem;
    content: '\e581';
}


/*header-nav*/

.mui-icon-bars::before{
    content: '\e563';
    color: #fff;
}


.dropdown{
    position: absolute;
    right: 0;
    background-color: #303953;
    box-sizing: border-box;
    border: none;
    padding: 0;
}

.btn{
    background-color: #303953;
    /*padding: 0;*/
}

.btn a {
    display: inline-block;
    background: url('../images/icon/user.png') no-repeat;
    background-size: 100% 100%;
    padding: 11px 10px ;
}

.open>.dropdown-menu{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #303953;
    border: none;
    margin: 0;
    min-width: 0;
}

.dropdown-menu li a{
    display: block;
    min-width: 0;
    font-size: 0.6rem;
    color: #fff;
}

.mui-navigate-right:after, .mui-push-right:after{
    content: "";
}

.mui-inner-wrap header{
    background-color: #303953;
    margin: 0 auto;
}

.mui-inner-wrap  .mui-title a{
    display: inline-block;
    box-sizing: border-box;
    color: #fff;
}


/*footer-nav*/

.mui-bar-nav~.mui-content{
    padding-bottom: 50px;
}


.mui-bar-tab .mui-home::before{
    content: '';
    display: block;
    width: 26px;
    height: 22px;
    background-image: url('../images/icon/overview2.png');
    background-size: 100% 100%;
}

.mui-inner-wrap .mui-bar-tab{
    background-color: #f4f4f4;
}

.mui-bar-tab .mui-email::before{
    content: '';
    display: block;
    width: 22px;
    height: 20px;
    background-image: url('../images/icon/compare.png');
    background-size: cover;
}

.mui-bar-tab .mui-contact::before{
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('../images/icon/detail4.png');
    background-size: cover;
}


/*mui-draggable*/

.mui-scroll-wrapper {
    background-color: #303953;
}

.mui-scroll-wrapper .content{
    height: 44px;
    line-height: 44px;
}

.mui-draggable .content p{
    text-align: center;
    font-size: 0.85rem;
    color: #fff;
    font-weight: 700;
}

.mui-table-view-inverted{
    background-color: #303953;
}

.mui-table-view-inverted .mui-table-view-cell:after,
 .mui-table-view-inverted:before, 
 .mui-table-view-inverted:after{
    background-color: #303953;
}

.mui-scroll-wrapper .mui-scroll ul li{
    font-size: 0.7rem;
    font-weight: 400;
    padding-left: 1.3rem;
}

.mui-navigate-right:after, 
.mui-push-left:after, 
.mui-push-right:after{
    position: absolute;
    top: 50%;
    left: -0.45rem;
}
.mui-scroll-wrapper .table-time ol{
    position: relative;
    padding: 0.25rem;
}

.mui-scroll-wrapper .table-time ol li{
    color: #fff;
    font-size: 0.6rem;
    font-weight: 400;
    text-indent: 0.2rem;
}

.mui-scroll-wrapper .table-time li a{
    display: inline-block;
    color: #fff;
    font-size: 0.6rem;
    font-weight: 400;
    text-indent: 4rem;
}


.table-time-cell:after{
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #d83f3f;
    border-radius: 50%;
    position: absolute;
    top: 0.45rem;
    left: 0.8rem;
}


/*icon*/

.tag-app::after {
    content: "";
    width: 0.4rem;
    height: 0.6rem;
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    background: url("../images/icon/书签.jpg");
    background-size: 100% 100%;
}


.background-color:{
    background-color: #466fa1;
}




