@charset "utf-8";


/*
@media only screen and (min-width:401px){
    html{
        font-size: 0.625rem !important;
    }
}
@media only screen and (min-width:428px){
    html{
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width:481px){
    html{
        font-size: 0.75rem !important;
    }
}
@media only screen and (min-width:569px){
    html{
        font-size: 0.875rem !important;
    }
}
@media only screen and (min-width:641px){
    html{
        font-size: 1.0rem !important;
    }
}*/


.mui-inner-wrap .mui-content{
    background-color: #fff;
}

.navigate-right:after{
    font-family: 'Muiicons';
    font-size: inherit;
    line-height: 1;
    position: absolute;
    top: 50%;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    color: #bbb;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 50%;
    right: 1rem;
    content: '\e583';
}


/*header-nav*/
.mui-icon-bars::before{
    content: '\e563';
    color: #fff;
}
.mui-person::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../images/icon/user.png');
    position: absolute;
    top: 10px;
    right: 0;
}


.mui-inner-wrap header{
    background-color: #303953;
    margin: 0 auto;
}

.mui-inner-wrap  .mui-title a{
    text-align: center;
}
.mui-inner-wrap  .mui-title a img{
    display: block;    
    height: 2.0rem;
    line-height: 1.0rem;
    background-size: cover;
    padding: 0.25rem 1.0rem;
}




/*footer-nav*/

.mui-bar-nav~.mui-content{
    padding-bottom: 50px;
}


.mui-bar-tab .mui-home::before{
    content: '';
    display: block;
    width: 26px;
    height: 22px;
    background-image: url('../images/icon/overview2.png');
    background-size: cover;
}

.mui-inner-wrap .mui-bar-tab{
    background-color: #f4f4f4;
}

.mui-bar-tab .mui-email::before{
    content: '';
    display: block;
    width: 22px;
    height: 20px;
    background-image: url('../images/icon/compare.png');
    background-size: cover;
}

.mui-bar-tab .mui-contact::before{
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('../images/icon/detail4.png');
    background-size: cover;
}


/*mui-draggable*/

.mui-scroll-wrapper {
    background-color: #303953;
}

.mui-scroll-wrapper .content{
    height: 44px;
    line-height: 44px;
}

.mui-draggable .content p{
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
    font-weight: 700;
}

.mui-table-view-inverted{
    background-color: #303953;
}

.mui-table-view-inverted .mui-table-view-cell:after,
 .mui-table-view-inverted:before, 
 .mui-table-view-inverted:after{
    background-color: #303953;
}

.mui-scroll-wrapper .mui-scroll ul li{
    text-indent: 3.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.mui-navigate-right:after, 
.mui-push-left:after, 
.mui-push-right:after{
    position: absolute;
    top: 50%;
    left: -0.45rem;
}
.mui-scroll-wrapper .table-time ol{
    position: relative;
}

.mui-scroll-wrapper .table-time ol li{
    color: #fff;
    text-indent: 5rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.mui-scroll-wrapper .table-time li a{
    display: inline-block;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    text-indent: 8rem;
}


.table-time-cell:after{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: #d83f3f;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 25px;
}


/*icon*/

.tag-app::after {
    content: "";
    width: 12px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    background: url("../images/icon/书签.jpg") no-repeat;
}

