@charset "utf-8";

/* 侧边导航 */
#offCanvasSideScroll .mui-navigate-right:after{
    content: ' ';
}


.mui-inner-wrap .mui-content{
    background-color: #fff;
}


/*header-nav*/

.mui-icon-bars::before{
    content: '\e563';
    color: #fff;
}

.icon-user:before{
    color: #fff;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #303953;
    border: none;
    margin: 0;
    min-width: 0;
}

.dropdown-menu li a{
    display: block;
    min-width: 0;
    font-size: 14px;
    color: #fff;
}

.mui-inner-wrap header{
    background-color: #303953;
    margin: 0 auto;
}

.mui-inner-wrap  .mui-title a{
    display: inline-block;
    box-sizing: border-box;
    color: #fff;
}

/* help */
.help{
    padding: 10px 10px 0;
    text-align: right;
}
.help a{
    font-size: 14px;
    color: #959595;
}
.icon-wenhao:after{
    content: '\e612';
    font-size: 18px;
}


/*footer-nav*/

.mui-bar-nav~.mui-content{
    padding-bottom: 50px;
}


.mui-inner-wrap .mui-bar-tab{
    background-color: #f4f4f4;
}


.ranking-blue{
    content: '';
    background-image: url('../images/icon/排名模拟1.png');
    background-size: 100% 100%;
}

.ranking-black{
    content: '';
    background-image: url('../images/icon/排名模拟.png');
    background-size: 100% 100%;
}


/*mui-draggable*/

.mui-scroll-wrapper {
    background-color: #303953;
}

.mui-scroll-wrapper .content{
    height: 44px;
    line-height: 44px;
}

.mui-draggable .content p{
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

.mui-table-view-inverted{
    background-color: #303953;
}

.mui-table-view-inverted .mui-table-view-cell:after,
 .mui-table-view-inverted:before, 
 .mui-table-view-inverted:after{
    background-color: #303953;
}

.mui-scroll-wrapper .mui-scroll ul li{
    font-size: 14px;
    font-weight: 400;
}

.mui-scroll-wrapper .table-time ol li{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-indent: 5px;
    padding: 1px 45px;
    position: relative;
}

.mui-scroll-wrapper .table-time li a{
    display: inline-block;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-indent: 110px;
}


.table-time-cell:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #d83f3f;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 33px;
}


/*icon*/

.tag-app::after {
    content: "";
    width: 10px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    background: url("../images/icon/书签.jpg");
    background-size: 100% 100%;
}


.background-color:{
    background-color: #466fa1;
}


/*modals*/

.modals{
	display: none;
	position: absolute;
	background-color: #fff;
	z-index: 9999;
}

#bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: #57575f;
	opacity: 0.7;
}

#info .table,
#record .table,
#detail_data .table{
	overflow: auto;
    margin: 0;
}

