@charset "utf-8";

/*指标*/

.graphic-analysis .title h1{
	color: #3d71b2;
	text-align: center;
	font-size: 22px;
}

.svg .two{
	display: none;
}

.graphic-analysis .university{
	/*margin: 0 auto;*/
	text-align: center;
}
.graphic-analysis .university div{
	padding: 0.25rem;
	background-color: #f4f4f4;
	box-sizing: border-box;
}
.graphic-analysis .university a{
	display: block;
	font-size: 17px;
	color: #808080;
}

.graphic-analysis .university .font-color{
	color: #3d71b2;
}

/*数据总览表格*/
.table>thead>tr>th{
    vertical-align: middle;
    border: none;
    padding: 10px 0;
    text-align: center;
    background-color: #d2e6ff;
    font-size: 14px;
    color: #3d71b2;
    box-sizing: border-box;
}

 .table>tbody>tr>td{
	border-top: none;
	font-size: 16px;
	vertical-align: middle;
}

.tag-app{
	position: relative;
	padding: 0 2px;
}

.list-module table tbody th, td{
	font-size: 16px;
}

.table>tbody>tr>td.modulescoretablebody1, 
.modulescoretablebody2,
.modulescoretablebody3{
	padding: 0 0.25rem;
	vertical-align: middle;
	box-sizing: border-box;
}

.tab-content table>tbody>tr:nth-child(2n){
	background-color: #e7f1fc;
}

.panel-body{
	padding: 0;
}

/*分页模块模块*/

.mui-table-view-cell:after{
	border: none;
	height: 0;
}
#panel4 .mui-table-view-cell{
	border-bottom: 1px solid #c8c7cc;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.list-module table{
	text-align: center;
	margin: 0 auto;
	table-layout: fixed;
	width: 100%;
	box-sizing: border-box;
}


.list-module table th{
	text-align: center;
	/*padding: 0 0.5rem;*/
	background-color: #d2e6ff;
	color: #3d71b2;
}

.list-module table tbody td:nth-child(1){
	text-align: left;
	text-indent: 0.5rem;
}

.list-module table tbody td i{
	position: relative;
}

#heading-control1{
	border-bottom: 0.025rem solid #c3c3c3;
	border-radius: 0.25rem;
}

#heading-control1 h6 a{
	font-size: 0.8rem;
}

#panel0{
	position: relative;
}
#panel3 table>thead>tr>th{
	padding: 10px 0;
	font-size: 16px;
}

.table-responsive table>thead>tr>th{
	background-color: #fff;
	color: #57575f;
	/*padding: 0.5rem 0;*/
	border-left: 0.025rem solid #c3c3c3;
	border-bottom: 0.025rem solid #c3c3c3;
}

.table-responsive table>tbody>tr>td{
	border-left: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
	line-height: 100%;
	text-align: center;
	font-size: 14px;
	vertical-align: middle;
}


#panel3 .tab-pane table{
	table-layout: fixed;
	text-align: center;
}

#panel4 ul li{
	padding: 0;
}
#panel4 .table-responsive{
	margin: 0;
}



#panel4 ul li a{
	padding: 10px 5px;
	margin: 0;
}


