@charset "utf-8";


/*指标*/

.graphic-analysis .title h1{
	color: #3d71b2;
	text-align: center;
	font-size: 20px;
}

 .university{
	text-align: center;
}
 .university ul{
	padding: 0.25rem;
	box-sizing: border-box;
	background-color: #f4f4f4;	
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
}
 .university ul>li{
	padding: 0 10px;
}
 .university a{
	display: block;
	font-size: 14px;
	color: #808080;
	padding: 5px;	
}

 .university .font-color{
	color: #3d71b2;
	background-color: #8d8c8c;
	border-radius: 5px;
}

/*数据总览表格*/

#panel3{
	margin-top: 20px;
}

.table>thead>tr>th{
    vertical-align: middle;
    border: none;
    padding: 10px 0;
    text-align: center;
    background-color: #d2e6ff;
    font-size: 12px;
    color: #3d71b2;
    box-sizing: border-box;
}

 .table>tbody>tr>td{
	border-top: none;
	font-size: 12px;
	vertical-align: middle;
	padding: 5px;
}

.tag-app{
	position: relative;
	padding: 0 2px;
}

.list-module table tbody th, td{
	font-size: 16px;
}

.table>tbody>tr>td.modulescoretablebody1, 
.modulescoretablebody2,
.modulescoretablebody3{
	padding: 0 0.25rem;
	vertical-align: middle;
	box-sizing: border-box;
}

.tab-content table>tbody>tr:nth-child(2n){
	background-color: #e7f1fc;
}

.panel-body{
	padding: 0;
}

/*分页模块模块*/

.mui-table-view-cell:after{
	border: none;
	height: 0;
}
#panel4 .mui-table-view-cell{
	border-bottom: 1px solid #c8c7cc;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.list-module table{
	text-align: center;
	margin: 0 auto;
	table-layout: fixed;
	width: 100%;
	box-sizing: border-box;
}


.list-module table th{
	text-align: center;
	/*padding: 0 0.5rem;*/
	background-color: #d2e6ff;
	color: #3d71b2;
}

.list-module table tbody td:nth-child(1){
	text-align: left;
	text-indent: 0.5rem;
}

.list-module table tbody td i{
	position: relative;
}

#heading-control1{
	border-bottom: 1px solid #c3c3c3;
	border-radius: 0.25rem;
}

#heading-control1 h6 a{
	font-size: 0.8rem;
}

#panel0{
	position: relative;
}
#panel3 table>thead>tr>th{
	padding: 10px 0;
	font-size: 14px;
}

.table-responsive table>thead>tr>th{
	background-color: #fff;
	color: #57575f;
	/*padding: 0.5rem 0;*/
	border-left: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
}

.table-responsive table>tbody>tr>td{
	border-left: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
	line-height: 100%;
	text-align: center;
	font-size: 12px;
	vertical-align: middle;
}


#panel3 .tab-pane table{
	table-layout: fixed;
	text-align: center;
}

#panel4 ul li{
	border-bottom: 1px solid #ccc;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#panel4 .table-responsive{
	margin: 0;
	display: none;
}


#panel4 ul li a{
	padding: 10px;	
	margin: 0;
	color: #000;
	display: block;
}

.mui-icon-arrowdown:before,
.mui-icon-arrowup:before{
	position: absolute;
	right: 10px;
	color: #bbb;
}

.icon-passageoftime::before,
.icon-daohanglandingdananniu-copy1::before,
.icon-ss-caidan2-copy{
    color: #3d71b2;
}

#panel4 ul tbody i{
	padding: 0 5px;
	cursor: pointer;
}


/*模态框*/

#detail_data {
	height: 410px;
}

#detail_data .title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	background-color: #f3f3f3;
	border-bottom: 1.5px solid #d0d0d0;

}
#detail_data .title h6{
	font-size: 12px;
	margin: 0;
}
#detail_data .title .close{
	font-size: 18px;
	padding: 5px;
}

#detail_data .concent{
	margin: 10px 5px 0;
}
#detail_data .concent .school{
	text-align: center;
}

#detail_data .concent .school .left,
#detail_data .concent .school .right{
	border-bottom: 1px solid #b2b2b2;
}

#detail_data .concent .school .b_color{
	border-bottom: 1px solid #ff3d3d;	
}

#detail_data .concent .school a{
	color: #8b8b8b;	
	display: block;
	padding: 5px;
}

#detail_data .concent .search{
	margin: 20px 0 10px;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color: #000;
}
#detail_data .concent .search .search_name{
	display: flex;
	justify-content: flex-start;
	align-items: center;	
}
#detail_data .concent .search .search_name p{
	font-size: 12px;
	color: #000;
	margin: 0;
}
#detail_data .concent .search .search_result{
	position: relative;
}

#detail_data .concent .search .search_result input{
	text-align: left;
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	padding: 5px 10px;
}

.mui-icon-search:before{
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 14px;
	font-weight: 700;
}

#detail_data .concent .search .btn_down{
	padding: 7px 10px;
	background-color: #438ce8;
	color: #fff;
}

#detail_data .table>thead>tr>th {
    vertical-align: middle;
    padding: 10px 5px;
    text-align: center;
    background-color: #fff;
    font-size: 12px;
    color: #696969;
	border: 1px solid #d1d1d1;
}

#detail_data .table>tbody>tr>td {
    font-size: 12px;
    vertical-align: middle;
    padding: 8px 5px;
	border: 1px solid #d1d1d1;
}

#detail_data table{
    margin: 0;
}

#detail_data .table{
	height: 260px;
}