@charset "utf-8";



/*指标*/

.graphic-analysis .title h1{
    color: #3d71b2;
    text-align: center;
    font-size: 0.9rem;
}


/*模块*/

.list-module table{
    text-align: center;
    margin: 0 auto;
    /*table-layout: fixed;*/
    width: 100%;
    box-sizing: border-box;
}

.list-module table tbody th, td{
    padding: 0.5rem;
    width: 100%;
    /*white-space: nowrap;*/
    /*word-break: keep-all;*/
}

.list-module table th{
    text-align: center;
    padding: 0 0.5rem;
    background-color: #d2e6ff;
    color: #3d71b2;
}

.list-module table tbody td:nth-child(1){
    text-align: left;
    text-indent: 0.5rem;
}


#panel0{
    position: relative;
}

#panel3 table>thead>tr>th{
    padding: 0.5rem 0;
}

.table-responsive table>thead>tr>th{
    background-color: #fff;
    color: #57575f;
    padding: 0.5rem 0;
    border-left: 0.025rem solid #c3c3c3;
    border-bottom: 0.025rem solid #c3c3c3;
}

.table-responsive table>tbody>tr>td{
    border-left: 0.025rem solid #c3c3c3;
    border-bottom: 0.025rem solid #c3c3c3;
    line-height: 100%;
}


#panel4 ul li{
    padding: 0;
}
#panel4 .table-responsive{
    margin: 0;
}


@media screen (min-width:769px)and(max-width: 1024px){
    #panel4 .table-responsive table{
        table-layout: fixed;
        text-align: center;
    }
}

#panel4 ul li a{
    padding: 0.5rem 0.25rem;
    margin: 0;
}

@media screen (max-width:768px) {
    .table-responsive table>tr>th,td{
        font-size: 0.75rem;
        padding: 0 0.5rem;
        /*word-wrap:break-word;*/
        /*white-space: nowrap;*/
    }
}
