@charset "utf-8";


/*侧边栏*/

#offCanvasSideScroll ul>li:nth-child(2) a{
    padding-left: 40px;
}

/*指标*/

.graphic-analysis .title h1{
    color: #3d71b2;
    text-align: center;
    font-size: 20px;
}

/*模块*/

.icon-passageoftime::before,
.icon-daohanglandingdananniu-copy1::before,
.icon-ss-caidan2-copy{
    color: #3d71b2;
}

#table-responsive{
    margin: 0;
    display: none;
}
#detailModule ul{
    margin: 0;
}

#detailModule ul>li {
    position: relative;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#detailModule ul>li>a {
    padding: 10px;
    display: block;
    margin: 0 1px !important;
    position: relative;
    color: #000;
}

.mui-icon-arrowup:before,
.mui-icon-arrowdown:before {
    position: absolute;
    right: 10px;
    color: #bbb;
}


#table-responsive table>thead>tr>th{
    padding: 5px;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
}

.responsive table>thead>tr>th{
    background-color: #fff;
    color: #57575f;
    border-left: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
}

.responsive table>tbody>tr>td{
    border-left: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    line-height: 100%;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
}


#table-responsive .tab-pane table{
    table-layout: fixed;
    text-align: center;
}

.mui-scroll-wrapper .mui-scroll .table-time li{
    font-weight: 400;
}

#detail-module ul li a{
    margin: 0;
    padding: 0.5rem 0.25rem;
}

.mui-scroll-wrapper .mui-scroll ul>li{
    padding: 0;
}
#offCanvasSideScroll .mui-table-view-cell{
    padding: 8px 15px;
}

.mui-table-view-chevron .mui-table-view-cell{
    padding-left: 65px;
}

.mui-table-view-cell>a:not(.mui-btn){
    position: relative;
    display: block;
    overflow: hidden;
    padding: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
}



/*模态框*/

/*数据明细*/
#info{
    height: 370px;
}
#record{
    height: 390px;
}
#amend_data {
	height: 410px;
}
#record .title,
#amend_data .title,
#info .title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	background-color: #f3f3f3;
	border-bottom: 1.5px solid #d0d0d0;

}
#record .title h6,
#amend_data .title h6,
#info .title h6{
	font-size: 12px;
	margin: 0;
}
#record .title .close,
#amend_data .titl .close,
#info .title .close{
	font-size: 18px;
	padding: 5px;
}
#record .concent,
#info .concent{
	margin: 10px 5px 0;
}
#info .concent .school{
	text-align: center;
}

#info .concent .school .left,
#info .concent .school .right{
	border-bottom: 1px solid #b2b2b2;
}

#info .concent .school .b_color{
	border-bottom: 1px solid #ff3d3d;	
}

#info .concent .school a{
	color: #8b8b8b;	
	display: block;
	padding: 5px;
}

#record .concent .search,
#info .concent .search{
	margin: 20px 0 10px;
	display: flex;
	justify-content: space-between;
    align-items: center;
	font-size: 12px;
	color: #000;
}
#record .concent .search .search_name,
#info .concent .search .search_name{
	display: flex;
	justify-content: flex-start;
	align-items: center;	
}
#record .concent .search p,
#info .concent .search .search_name p{
	font-size: 12px;
	color: #000;
	margin: 0;
}
#record .concent .search .search_result,
#info .concent .search .search_result{
	position: relative;
    width: 80%;
}
#record .concent .search .search_result input,
#info .concent .search .search_result input{
	text-align: left;
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	padding: 5px 10px;
    width: 100%;
}

.mui-icon-search:before{
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 14px;
	font-weight: 700;
}

#info .concent .search .btn_down{
	padding: 7px 10px;
	background-color: #438ce8;
	color: #fff;
}
#info .table{
    height: 260px;
}
#info .table>thead>tr>th {
    vertical-align: middle;
    padding: 10px 5px;
    text-align: center;
    background-color: #fff;
    font-size: 12px;
    color: #696969;
	border: 1px solid #d1d1d1;
}

#info .table>tbody>tr>td {
    font-size: 12px;
    vertical-align: middle;
    padding: 8px 5px;
	border: 1px solid #d1d1d1;
}


/*数据修改*/

#amend_data .concent form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #c9c9c9;
    padding: 10px 20px;
}

#amend_data .concent form div input{
   width: 70%;
   padding: 10px;
}

#amend_data .concent form .message input{
    border: 1px solid rgba(0, 0, 0, .2);
}

#amend_data .concent form .submit{
    border: none;
    justify-content: center;
}
#amend_data .concent form .submit div{
    border: none;
    position: relative;
}
#amend_data .concent form .submit input{
    padding: 10px 15px;
    width: 80px;
    text-align: left;
}
.icon-jiantou:before{
    position: absolute;
    top: 50%;
    right: 20%;
    color: #fff;
    z-index: 10;
    transform: translate(-50%, -50%);
}

/*数据修改记录*/
#record .table{
    height: 280px;
}
#record table{
    white-space: nowrap;
}

#record table>thead>tr>th{
    text-align: center;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 10px;
}
#record table>tbody>tr>td{
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: #fff;
    padding: 5px 10px;
}

