@charset 'utf-8';

/*search result*/

.search-result{
    margin: 15px 40px 40px 30px;
}

h2{
    padding: 20px 0;
    color: #686868;
    font-size: 19px;
    font-weight: 400;
}

h2>span{
    border-bottom: 2px solid #f98648;
    padding-bottom: 5px;
}
h2>span>span{
    color: #f98648;
}


/* particular */

.help-particular{
    padding-left: 20px;
}

h3{
    font-size: 18px;
    color: #9c2424;
    padding: 10px 0;
    position: relative;
}

h3::before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 12px;
    left: -18px;
    border-top: 8px solid transparent;
    border-left: 16px solid #9c2524;
    border-bottom: 8px solid transparent;
}

