@charset "utf-8";

/*数据分析指标*/

.graphic-analysis .title h1 {
    color: #3d71b2;
    text-align: center;
    font-size: 22px;
}

.graphic-analysis .svg {
    position: relative;
}

.graphic-analysis .click-right,
.graphic-analysis .click-left {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-15px);
    margin: 0 5px;
    background-color: #fff;
}

.graphic-analysis .svg .click-right {
    position: absolute;
    top: 50%;
    right: 0;
}

.graphic-analysis .svg div a {
    display: block;
    font-size: 18px;
    text-align: center;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    color: #ccc;
}

#box .overflow{
	margin: 0 40px;
	height: 240px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#box ul {
	display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
}

#box li {
    list-style: none;
    position: relative;
}

#box .comment {
    width: 10px;
    height: 10px;
    background: rgb(201, 115, 69);
    border-radius: 50%;
    line-height: 10px;
    font-size: 10px;
    margin: 0 2px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: inset -6px -7px 5px rgba(201, 115, 69, 0.5), inset 5px 11px 20px 0px rgba(228, 218, 203, 0.5), 2px 1px 1px rgba(201, 115, 69, 0.5);
}

#box .center {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: rgba(158, 131, 58, 0);
    box-shadow: inset -6px -7px 15px rgba(189, 188, 184, 0.5), inset -11px -2px 40px rgba(222, 218, 207, 0.5), 3px 2px 4px 0px rgba(49, 48, 44, 0.6);
    font-size: 20px;
    border: 1px solid rgba(125, 116, 116, .5);
}

#box .best {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: rgba(129, 65, 35, .6);
    box-shadow: inset -10px -6px 13px rgba(129, 65, 35, .8), inset -10px -10px 10px rgba(129, 65, 35, .0), 3px 1px 4px rgba(129, 65, 35, .6);
    font-size: 16px;
}

#box .five {
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: rgba(201, 115, 69, .6);
    box-shadow: inset -7px -6px 20px 0px rgba(201, 115, 69, 1), inset -5px -6px 14px 5px rgba(201, 115, 69, .5), 2px 1px 4px rgba(201, 115, 69, 1);
}

#box .center::before,
#box .best::before,
#box .five::before,
#box .flash::before {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    left: -10px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 10;
    transform: skewX(-25deg);
}

#box .center:hover::before {
    transition: all 1s;
    left: 65px;
}

#box .best:hover::before {
    transition: all 1s;
    left: 45px;
}

#box .five:hover::before {
    transition: all 1s;
    left: 30px;
}

#box .flash:hover::before {
    transition: all 1s;
    left: 15px;
}

#box .center::after,
#box .best::after,
#box .five::after,
#box .flash::after {
    content: '';
    z-index: 10;
    transform: rotate(-60deg);
    border-radius: 40px / 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(top, rgba(232, 232, 232, 1) 0%, rgba(232, 232, 232, 1) 1%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(232, 232, 232, 1) 0%, rgba(232, 232, 232, 1) 1%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(top, rgba(232, 232, 232, 1) 0%, rgba(232, 232, 232, 1) 1%, rgba(255, 255, 255, 0) 100%);
    /*background: rgba(229, 223, 223, 0.5);*/
}

#box .center::after {
    width: 24px;
    height: 12px;
    top: 14px;
}

#box .best::after {
    width: 16px;
    height: 8px;
    top: 10px;
}

#box .five::after {
    width: 12px;
    height: 6px;
    top: 6px;
}

#box .flash::after {
    width: 6px;
    height: 4px;
    top: 2px;
}

#box li .md{
    width: 500%;
    height: 270%;
}

#box li .xs{
    width: 1000%;
    height: 700%;
}

#box li .lg{
    width: 300%;
    height: 170%;
}

#box .content {
    width: 350%;
    height: 115%;
    line-height: 100%;
    line-height: 15px;
    font-size: 12px;
    text-align: left;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    background-color: #474b56;
    position: absolute;
    top: -88px;
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;
    display: none;
    z-index: 10;
}

#box .content::before {
    content: '';
    width: 0;
    width: 0;
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #474b56;
    z-index: 10;
}


#box .content li {
    float: left;
    text-align: right;
}

#box li>div:nth-child(1):hover+.content {
    display: block;
}

#box .ranking {
    width: 80px;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


/*模块数据分析*/

#first-module {
    background-color: #f4f4f4;
}

#list-module ul li a {
    margin: 0;
    /*padding: 0.5rem 0.25rem;*/
}


.isActive {
    display: none;
}

#offCanvasContentScroll .list-module .mui-table-view-cell {
    font-size: 16px;
    font-weight: 400;
    padding: 0.2rem;
    border-bottom: 1px solid #c3c3c3;
    border-radius: 0.5rem;
}

#first-module .top {
    padding: 20px;
    display: flex;
}

#first-module .bottom {
    padding: 20px;
    display: flex;
}

#first-module .people i {
    color: #c97345;
}

#first-module .num {
    display: flex;
    align-items: center;
}

#first-module .num,
.people {
    text-align: left;
    font-size: 15px;
}

#first-module .num i {
    display: inline-flex;
    background-color: #ccc;
    height: 6px;
    width: 70%;
    border-radius: 3px;
    position: relative;
}

#first-module .num em {
    display: block;
    width: 70px;
    height: 30px;
    background-color: #c97345;
    position: absolute;
    top: -37px;
    left: 0;
    border-radius: 5px;
    line-height: 30px;
    color: #fff;
    text-align: center;
}

#first-module .top .num em {
    display: block;
    width: 70px;
    height: 30px;
    background-color: #c97345;
    position: absolute;
    top: -30px;
    left: 0;
    border-radius: 5px;
    line-height: 30px;
}

.littler::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #c97345;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.littler::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #c97345;
}

.length::after {
    content: '';
    width: 25px;
    height: 8px;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: #c97345;
}

.mui-table-view-cell:after {
    content: " ";
    background-color: #fff;
}