@charset "utf-8";


/*数据分析指标*/
.graphic-analysis .title h1{
	color: #3d71b2;
	text-align: center;
	font-size: 22px;
}

.graphic-analysis .svg{
	position: relative;
	overflow: hidden;
	border: 1px solid red;
}

.graphic-analysis .svg div{
	width: 0.75rem;
	height: 0.75rem;
	border: 0.05rem solid #ccc;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-0.375rem);
	margin: 0 0.25rem
}

.graphic-analysis .svg .click-right{
	position: absolute;
	top: 50%;
	right: 0;
}


.graphic-analysis .svg div a{
	display: block;
	font-size: 0.5rem;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translateY(-10%);
	color: #ccc;
}


/*模块数据分析*/

#first-module{
	background-color: #f4f4f4;
}

#list-module ul li a{
    margin: 0;
    /*padding: 0.5rem 0.25rem;*/
}

.mui-table-view:after{
	/*background-color: #fff;*/
}

.isActive{
	display: none;
}

#offCanvasContentScroll .list-module .mui-table-view-cell{
	font-size: 16px;
	font-weight: 400;
	padding: 0.2rem;
	border-bottom: 1px solid #c3c3c3;
	border-radius: 0.5rem;
}

#first-module .top{
	padding: 20px;
	display: flex;
}
#first-module .bottom{
	padding: 20px;
	display: flex;
}

#first-module .people i{
	color: #c97345;
}
#first-module .num{
	display: flex;
	align-items: center;
}

#first-module .num, .people{
	text-align: left;
	font-size: 15px;
}



#first-module .num i{
	display: inline-flex;
	background-color: #ccc;
	height: 6px;
	width: 70%;
	border-radius: 3px;
	position: relative;
}


#first-module .num em{
	display: block;
	width: 70px;
	height: 30px;
	background-color: #c97345;
	position: absolute;
	top: -37px;
	left: 0;
	border-radius: 5px;
	line-height: 30px;
	color: #fff;
	text-align: center;
}


#first-module .top .num em{
	display: block;
	width: 70px;
	height: 30px;
	background-color: #c97345;
	position: absolute;
	top: -30px;
	left: 0;
	border-radius: 5px;
	line-height: 30px;
}

.littler::before{
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #c97345;
    position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}
.littler::after{
	content: '';
	width: 10px;
	height: 10px;
    position: absolute;
	top: 120%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	background-color: #c97345;
}

.length::after{
	content: '';
	width: 25px;
	height: 8px;
    position: absolute;
	top: 120%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
	background-color: #c97345;
}

.mui-table-view-cell:after{
	content: " ";
	background-color: #fff;
}




