@charset "utf-8";
html,
body {
    background-color: #fff;
}

/*header*/
#header{
    background-color: #303953;
}

.mui-icon-back:before, .mui-icon-left-nav:before{
    color: #fff;
}

.mui-bar .mui-pull-left .mui-icon {
    padding-right: 5px;
    font-size: 28px;
}

.mui-bar .mui-title{
    color: #fff;
}

.mui-bar .mui-btn {
    font-weight: normal;
    font-size: 17px;
}

.mui-bar .mui-btn-link {
    top: 1px;
}


/*清除模块*/

.mui-content{
    background-color: #fff;
}

.clear .delAll{
    display: flex;
    justify-content: center;
}

.del-m .del{
    display: flex;
    justify-content: center;
}


 .del-t{
    width: 20px;
    height: 5px;
    display: block;
    background-image: url(../images/icon/delete_up.png);
    background-size: 100% 100%;
    margin-left: -1px;
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

 .del-b{
    width: 18px;
    height: 18px;
    display: block;
    background-image: url(../images/icon/delete_down.png);
    background-size: 100% 100%;
    margin-top: -2px;
}


.selected .del-m,
.clear .title {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 20px;
    color: #919191;
}

.mui-btn-outlined.mui-btn-danger{
    font-size: 0.6rem;
    color: #919191;
}

.mui-btn-danger{
    border: none;
}

.mui-icon-trash:before{
    font-size: 1rem;
}

.selected .lin-list .list,
.clear .lin-list .list{
    text-align: center;
    font-size: 14px;
    padding: 5px;
    color: #fff;
    box-sizing: border-box;
    border-radius: 1.0rem;
    margin: 0.1rem 0;
    position: relative;
}
.selected .lin-list .people,
.clear .lin-list .people{
    background-color: #435;
}

.selected .lin-list .subject,
.clear .lin-list .subject{
    background-color: #854;
}

.selected .lin-list .ranking,
.clear .lin-list .ranking{
    background-color: #665;
}

.selected .lin-list .list i,
.clear .lin-list .list i{
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: 2px solid #fff;
    border-radius: 50%;
    vertical-align: middle;
}


/*模块清单*/

.table-responsive{
    display: none;
}

.mui-table-view::before{
    background-color: #fff;
}
.mui-icon-arrowdown:before{
    position: absolute;
    right: 5px;
    color: #bbb;
}
.mui-icon-arrowup:before{
    position: absolute;
    right: 5px;
    color: #bbb;
}
.mui-content-padded{
    margin: 5px -2px;
}
.mui-table-view{
    margin-top: 10px;
}

#indicator-module table{
    width: 100%;
    text-align: center;
    border-top: 1px solid #ccc;
}

#indicator-module .table thead>tr>th{
    padding: 8px 0;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
}

#indicator-module .table tbody>tr>td{
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
}

/*selected*/

.date{
    margin: 0;
    position: relative;
    border: 1px solid #c97345;
    /*padding: 0 0.25rem;*/
}

.date select{
    font-size: 15px;
    padding: 8px;
    margin: 0 !important;
    border: none;
}
.date span{
    display: inline-block;
    padding: 0 0.25rem;
    font-size: 0.6rem;
    line-height: 1;
    vertical-align: middle;
}


#indicator-module .date .year{
    background-color: #fff;
    font-size: 0.7rem;
    border-color: #c97345;
    position: relative;
}
#indicator-module .date .year span{
    display: inline-block;
    height: 100%;
    width: 30%;
    border: 1px solid #c97345;
    box-sizing: border-box;
}
#indicator-module .operation .add{
    font-size: 15px;
    color: #fff;
    background-color: #c97345;
}

.stay .check-set{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #919191;
    padding: 0.5rem;
    vertical-align: middle;
}

.stay .checked{
    display: flex;
    justify-content: space-between;
}
.stay .checked span{
    position: relative;
}
.stay input[type=checkbox]{
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    /*background-color: #007aff;*/
    border-radius: 50%;
}

/* 模态框 */
.pop_srceen{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 99999;
    display: none;
}
.pop_info{
    width: 80%;
    height: 160px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pop_info p{
    height: 90px;
    text-align: center;
    line-height: 90px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}
.btn_wrap{
    padding-top: 10px;
}
.btn_wrap button{
    width: 45%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #fff;
    color: #aaa;
}
.btn_wrap .sure{
    color: #fff;
    background-color: #D8505C
}

@-webkit-keyframes my_bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -3000px, 0);
    transform: translate3d(-50%, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 25px, 0);
    transform: translate3d(-50%, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(-50%, -60%, 0);
    transform: translate3d(-50%, -60%, 0);
  }

  90% {
    -webkit-transform: translate3d(-50%, -45%, 0);
    transform: translate3d(-50%, -45%, 0);
  }

  to {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

.my_bounceInDown {
  -webkit-animation-name: my_bounceInDown;
  animation-name: my_bounceInDown;
}





/*底部选项*/

.mui-tab {
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    align-items: center;
    height: 50px;
}

.mui-tab a{
    width: 33%;
    display: block;
    font-size: 15px;
    color: #999;
    text-align: center;
    padding: 2px 5px;
}

.mui-tab  .mui-btn{
    font-size: 14px;
    background-color: #9c2424;
    border: none;
    padding: 0 10px;
}

.mui-tab  .left em{
    font-size: 24px;
    color: #9c2424;
}

.mui-icon-compose:before{
    font-size: 24px;
}

.mui-table-view-cell.mui-active{
    background-color: #fff;
}
.mui-table-view-cell:after{
    height: 0;
}
.mui-table-view:after{
    height: 0;
}

.mui-table-view-cell{
    border-bottom: 1px solid #c8c7cc;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 8px 10px;
}