@charset "utf-8";

/* title */

.graphic-analysis .title{
    text-align: center;
}
.graphic-analysis .title a{
    display: inline-block;
    border-bottom: 1px solid #2c9af4;
    padding-bottom: 3px;
    margin-bottom: 10px;
    font-size: 14px;
}
.graphic-analysis .title h1{
    font-size: 22px;
}


/*分析表*/

#table-responsive{
    margin: 0;
}

.table-responsive table>thead>tr>th{
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    background-color: #9dcdf4;
    color: #57575f;
    border-left: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
}

.table-responsive table>tbody>tr>td{
    border-left: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    line-height: 100%;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
}
.table-responsive table>tbody>tr>td>div{
    font-size: 12px;
}

#table-responsive .tab-pane table{
    table-layout: fixed;
    text-align: center;
}

.mui-scroll-wrapper .mui-scroll .table-time li{
    font-weight: 400;
}

#detail-module ul li a{
    margin: 0;
    padding: 0.5rem 0.25rem;
}

.mui-scroll-wrapper .mui-scroll ul>li{
    padding: 0;
}
#offCanvasSideScroll .mui-table-view-cell{
    padding: 8px 15px;
}

.mui-table-view-chevron .mui-table-view-cell{
    padding-left: 65px;
}

.mui-table-view-cell>a:not(.mui-btn){
    position: relative;
    display: block;
    overflow: hidden;
    padding: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
}


/* proceed */

.proceed .sure{
    background-color: #fff;
    text-align: center;
    display: none;
}

.proceed .sure a{
    color: #fff;
    font-size: 16px;
    margin: 15px 0;
    padding: 5px 15px;
    background-color: #9c2424;
    display: inline-block;
}

.proceed .result{
    text-align: center;
    color: #fff;
    font-size: 15px;
}
.proceed .result span {
    padding: 5px 0;
    border: 1px solid #ccc;
}
.proceed .result .ranking{
    display: flex;
    background-color: #303953;
}

.proceed .result .num{
    display: flex;
    background-color: #5d6479;
    font-size: 17px;
}

