@charset "utf-8";
html,
body {
    background-color: #fff;
}

.mui-icon-arrowdown:before{
    position: absolute;
    right: 0;
    color: #bbb;
}
.mui-icon-arrowup:before{
    position: absolute;
    right: 0;
    color: #bbb;
}
.mui-icon-back:before, .mui-icon-left-nav:before{
    color: #fff;
}
.mui-bar .mui-pull-left .mui-icon {
    padding-right: 5px;
    font-size: 28px;
}

.mui-bar .mui-title{
    color: #fff;
}

.mui-bar .mui-btn {
    font-weight: normal;
    font-size: 17px;
}

.mui-bar .mui-btn-link {
    top: 1px;
}
#table-responsive table>thead{
    border-bottom: 1px solid #ccc;
}

#table-responsive table>thead>tr>th{
    font-size: 14px;
    font-weight: 400;
    padding: 0.25rem 0;
    text-align: center;
}

table{
    width: 100%;
}
#table-responsive table>tbody>tr{
    border-bottom: 1px solid #ccc;
    text-align: center;
}

#table-responsive table>tbody>tr>td{
    padding: 5px 0;
    font-size: 14px;
}

.responsive{
    background-color: #fff;
    display: none;
}

.mui-bar{
    text-align: center;
    background-color: #eee;
    line-height: 50px;
}

.mui-bar a{
    color: #9f9f9f;
}

#listModule ul>li{
    padding: 15px 10px;
    position: relative;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}
#listModule ul>li>a{
    display: block;
    margin: 0  1px !important;
    position: relative;
    color: #000;
    font-size: 14px;
}
.mui-navigate-right:after, .mui-push-right:after{
    right: 0;
}

.last-sum{
    text-align: right;
}

.confirm{
    display: flex;
    justify-content: center;
    padding: 0.25rem 0;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.confirm div{
    /*font-size: 0.7rem;*/
    color: #848484;
}
.confirm input{
    width: 50px;
    border-left: 1px solid #dc8663;
    border-top: 1px solid #dc8663;
    border-bottom: 1px solid #dc8663;
    border-right: 1px solid #fff;
    border-radius: 0;
    text-align: right;
    padding: 5px 0;
    font-size: 14px;
}
.confirm input:nth-child(3){
    width: 60px;
    background-color: #af2b2b;
    border: none;
    padding: 10px 0;
    text-align: center;
    margin-right: 5px;
}

.confirm span{
    display: block;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-top: 1px solid #dc8663;
    border-bottom: 1px solid #dc8663;
    padding-right: 7px;
    line-height: 38px;
}

.mui-numbox{
    width: 140px;
}

/*numbox*/

.numbox{
    display: flex;
    justify-content: center;
}
.numbox button{
    border-radius: 0;
    width: 30px;
    font-size: 14px;
    line-height: normal;
}
.numbox input{
    width: 40px;
    padding: 0;
    text-align: right;
    height: 35px;
    font-size: 14px;
    border-right: none;
    border-radius: 0;
}
.numbox span {
    display: block;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-right: 7px;
}
